
*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    font-size: small;
    min-width: 100%;
}

.body-container {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    justify-content: space-between;
}
 
.nav-left {
    padding-top: 7px;
}

li {
    display: inline;
    padding-right: 15px;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #232325;
}

.nav-apps {
    display: inline-block;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -135px -39px;
    vertical-align: middle;
    background-size: 528px 62x;
    height: 30px;
    width: 30px;
    opacity: .55;
}

.nav-apps:hover {
    opacity: 1;
}

.sign-in {
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    background-color: #4285f4;
    color: white;
    width: 70px;
    height: 32px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.google-logo {
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

form {
    display: flex;
    justify-content: center;
}

.search-form {
    display: flex;
    justify-content: center;
    width: 550px;
    margin-top: 50px;
    border: 1px solid lightgrey;
    border-radius: 24px;
    align-items: center;
}

.search-form:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
}

.search-box {
    width: 465px;
    height: 45px;
    border: none;
    font-size: 16px;
}

.search-logo {
    height: 20px;
    width: 20px;
    opacity: .30;
}

.mic-logo {
    height: 24px;
    width: 24px;
}

.btn-wrap {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    width: 315px;
}

input[type="submit"] {
    height: 36px;
    width: 140px;
    font-size: 14px;
    padding: 0 16px;
    margin: 30px 0px 0px 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
}

input[type="submit"]:hover {
    border-color: lightgray;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 14px;
    background-color: #f2f2f2;
    border-top: 1px solid lightgray;
}

footer a {
    text-decoration: none;
    color: #70757a;
}


