*:focus {
    outline: none;
}

body {
    font-family: arial,sans-serif;
    font-size: small;
}

.body-container {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    justify-content: space-between;
}
 
.nav-left {
    padding-top: 7px;
}

li {
    display: inline;
    padding-right: 15px;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #232325;
}

.nav-apps {
    display: inline-block;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -135px -39px;
    vertical-align: middle;
    background-size: 528px 62x;
    height: 30px;
    width: 30px;
    opacity: .55;
}

.nav-apps:hover {
    opacity: 1;
}

.sign-in {
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    background-color: #4285f4;
    color: white;
    width: 70px;
    height: 30px;
}

.google-logo {
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.search-box {
    width: 500px;
    height: 45px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
}

.search-box:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    width: 315px;
    margin-left: 95px;
}

input[type="submit"] {
    height: 36px;
    width: 140px;
    font-size: 14px;
    padding: 0 16px;
    margin: 30px 0px 0px 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    
}

input[type="submit"]:hover {
    border-color: lightgray;
    cursor: pointer;
}